# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

# ROUTE LISTE DES recettes
# PATTERN: /recipes
# TARGET: ?recipes=index
RewriteRule ^recipes$ index.php?recipes=index [L]

# ROUTE LISTE DES chefs
# PATTERN: /chefs
# TARGET: ?chefs=index
RewriteRule ^chefs$ index.php?chefs=index [L]


# -------------------------------------------------
# API ENDPOINTS
# -------------------------------------------------


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
